* {
    margin: 0;
    padding: 0;
    border-collapse:collapse;
}

body {
    background-color: #F0F2F5;
}

em,
i {
    font-style: normal;
}

li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

button {
    cursor: pointer;
}

a {
    color: #A5ADB5;
    text-decoration: none;
}

a:hover {
    color: #e33333;
}

